# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=school_payment_plans_development
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Test Database (opcional)
TEST_DATABASE_NAME=school_payment_plans_test

# Rails Configuration
RAILS_MAX_THREADS=5
RAILS_ENV=development

# Para uso com Docker, use:
# DATABASE_HOST=db
